body{
    display: flex;
    justify-content: center;

}


.conteiner{
    width: 700px;
    height: 500px;
    border: 1px solid black;
    display: flex;
}
.vermelho{
    width: 250px;
    height: 99%;
    background-color: brown;
    margin: 2px;
}
.branco{
    width: 250px;
    height: 99%;
    background-color: white;
    margin: 2px;

}
.verde{
    width: 250px;
    height: 99%;
    background-color:green;
    margin: 2px;
    
}

